# vim: filetype=toml:

[general]
import = ["~/.config/alacritty/themes/edge_light.toml"]

[font]
size = 13.0

[font.normal]
family = "JetbrainsMono Nerd Font Mono"

[[keyboard.bindings]]
action = "CreateNewWindow"
key = "N"
mods = "Command"

[[keyboard.bindings]]
chars = "\u001Bb"
key = "Left"
mods = "Alt"

[[keyboard.bindings]]
chars = "\u001Bf"
key = "Right"
mods = "Alt"

[[keyboard.bindings]]
chars = "\u0001"
key = "Left"
mods = "Command"

[[keyboard.bindings]]
chars = "\u0005"
key = "Right"
mods = "Command"

[terminal.shell]
args = ["new-session", "-A", "-D", "-s", "main"]
program = "{{ homebrew_prefix }}/bin/tmux"

[window]
decorations = "buttonless"
option_as_alt = "None"

[window.padding]
x = 18
y = 15
