#!/usr/bin/env zsh

function dotf() {
    local dotfiles_dir="{{ playbook_dir }}/roles/dotfiles/files"

    if [ -z "$1" ]; then
        local theme="edge_dark"
    else
        local theme="$1"
    fi

    ln -sf $dotfiles_dir/alacritty/themes/$theme.toml ~/.config/alacritty/theme_current.toml
    ln -sf $dotfiles_dir/tmux/themes/tmux-statusline-$theme.conf ~/.config/tmux/tmux-statusline.conf

    tmux set-environment -g VIM_BG "$theme"
    tmux source-file ~/.config/tmux/tmux-statusline.conf

    export VIM_BG="$theme"
}
